<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Bordalo II - ABOUT</title>
        <link rel="stylesheet" href="/styles/style.css" />
      </head>
      <body>
        <a href="/home" ><img src="/images/banner-about.jpg" class="banner"></img></a>
        <header class="header">
          <span class="link-off">  ABOUT  </span>
        <a href="/works" class="links">  WORKS  </a>
        <a href="/photo-galery" class="links">  PHOTO GALERY  </a>
      </header>
      <section class="section">
        <h2>Artur Bordalo</h2>
      <p class="texto">, mais conhecido pela alcunha artística Bordalo II ou Bordalo Segundo, nascido em Lisboa em 1987, é um grafiteiro e artista plástico português. É neto do também pintor Artur Real Chaves Bordalo da Silva, conhecido como Real Bordalo.</p>
      <img src="/images/about.png" class="img-corpo"></img>
      <h2>Carreira:</h2>
      <p class="texto">
        Estudou na Faculdade de Belas Artes da Universidade de Lisboa.

        A sua arte baseia-se na utilização de resíduos urbanos, guiado pelo lema «o lixo de um pode ser o tesouro de outro». Tomando como ponto de partida o graffiti, empregando pintura em spray, usa objectos abandonados, desperdícios e refugos procedentes de obras, ruínas de edifícios, carros e fábricas, entre outros, misturando-as para criar um novo objecto artístico. Pretende deste modo denunciar uma sociedade «extremamente consumista, materialista e avarenta» e promover a «sustentabilidade, consciência ecológica e social». Como consequência, os seu graffitis são tridimensionais, ultrapassando em muitas ocasiões os limites do plano, convertendo-se em baixo-relevos e alto-relevos.
        
        Nas suas obras é revelada a influência de artistas como Joseph Beuys, que acreditava que a única força capaz de mudar a humanidade e a ordem social era a arte, a partir da criatividade humana. Mas, também, os ready-mades de Marcel Duchamp, as colagens de Pablo Picasso e Georges Braque, entre outras criações que transformaram a nossa percepção perante uma obra de arte.
        
        
        Lixo de peixe (2022) no porto do Funchal
        Desde 2012, Bordalo Segundo já realizou cerca de duzentas esculturas de animais de mais de 60 toneladas de materiais reciclados. As suas instalações podem ser encontradas em todo o mundo e representam assim um manifesto universal. É também famoso pela série ferroviária realizada no seu país de origem, na qual utiliza engenhosamente vias férreas para a sua arte.</p>


    </section>

    <footer class="footer">
      <a href="http://instagram.com" class="footer-links"> <img src="/images/social-logo1.jpg" class="social-logos"> Instagram  </span>
    <a href="http://instagram.com" class="footer-links">  <img src="/images/social-logo2.jpg" class="social-logos">Facebook  </a>
    <a href="http://instagram.com" class="footer-links">  <img src="/images/social-logo3.jpg" class="social-logos">Twitter  </a>
    <a href="http://instagram.com" class="footer-links">  <img src="/images/social-logo4.jpg" class="social-logos">LinkdIn  </a>
    <a href="http://instagram.com" class="footer-links">  <img src="/images/social-logo5.jpg" class="social-logos">Pint-Rest  </a>
    </footer>
     </body>
    </html>