<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Bordalo II - HOME</title>
        <link rel="stylesheet" href="/styles/style.css" />
      </head>
      <body>
        <img src="/images/banner-home.jpg" class="banner"></img>
        <header class="header">
        <a href="/about" class="links">  ABOUT  </a>
        <a href="/works" class="links">  WORKS  </a>
        <a href="/photo-galery" class="links">  PHOTO GALERY  </a>
      </header>

        <h1>Welcome to Bordalo II (un)Oficial WebPage</h1>
     </body>

     <footer class="footer">
      <a href="http://instagram.com" class="footer-links"> <img src="/images/social-logo1.jpg" class="social-logos"> Instagram  </span>
    <a href="http://instagram.com" class="footer-links">  <img src="/images/social-logo2.jpg" class="social-logos">Facebook  </a>
    <a href="http://instagram.com" class="footer-links">  <img src="/images/social-logo3.jpg" class="social-logos">Twitter  </a>
    <a href="http://instagram.com" class="footer-links">  <img src="/images/social-logo4.jpg" class="social-logos">LinkdIn  </a>
    <a href="http://instagram.com" class="footer-links">  <img src="/images/social-logo5.jpg" class="social-logos">Pint-Rest  </a>
    </footer>
     </body>
    </html>
    </html>